@import "bootstrap/scss/bootstrap";
@font-face {
    font-family: 'planar';
    src: url('../../public/GT-Planar-Trial-VF.ttf') format('truetype');
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    user-select: none;

}

.slider {
    -webkit-appearance: none;
    width: 35vw;
    height: 1px;
    border-radius: 3px;
    background-color: #ccc;
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;

    // position: absolute;
    // bottom: 6vh;
    padding: 0;
    margin: 0;
}

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 10vw;
    /* Set a specific slider handle width */
    height:3vw;
    border-radius: 1.5vw;
    /* Slider handle height */
    background: rgb(130, 130, 130);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

#rangeright{
    position: absolute;
    margin-top: 88vh;
    margin-left: 50vw;
}

.slider::-moz-range-thumb {
    width: 10vw;
    height:3vw;
    background: #04AA6D;
    cursor: pointer;
}

#mf{
    font-family: 'planar';
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 46vh;
    margin-top: 42vh;
    // font-variation-settings: 'wght' 900, 'slnt' 40;
    -webkit-font-smoothing: antialiased;
}

.labels{
    color: white;
}

#weightLabela{
    font-variation-settings: 'wght' 100;
}
#weightLabelb{
    font-variation-settings: 'wght' 900;
}
#slantLabela{
    font-variation-settings: 'wght' 450
}
#slantLabelb{
    // font-variation-settings: 'wght' 450, 'slnt' 5; 
    font-variation-settings: 'slnt' 10;
}

.my-button {
    /* Set button background color, text color, and padding */
    background-color: black;
    color: #ffffff;
    // padding: 2vw;
    /* Add border and rounded corners for a button-like appearance */
    border: solid;
    border-width: 1px;
    width: 15vw;
    height:3vw;
    border-radius: 1.5vw;
    /* Add hover effect when mouse is over the button */
    transition: background-color 0.3s;
}

.my-button:hover {
    background-color: #696969;
}
